﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventCategory/Index" method="post">
    <div class="command-panel">
        <h2>Persoon</h2>
        <nav>
            <a href="/EventCategory/UpdatingOne/??" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/EventCategory/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/EventCategory/DeleteOne/??" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/EventCategory/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </nav>
    </div>
    <fieldset>
        <div>
            <label for="EventCategory-Name">Naam</label>
            <input id="EventCategory-Name" name="EventCategory-Name" type="text" value="" readonly />
        </div>
    </fieldset>
    <div class="feedback"></div>

    <aside class="list">
        <table></table>
    </aside>
</form>