﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@model List<FricFracMyWay.Models.Country> 
<!--Model zelf toegevoegd hier. Om te checken of ik de tabel gegevens kan tonen-->
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Country/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Country</h2>
            <a href="/Country/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Code
            </td>
            <td>
                <a href="/Country/ReadingOne/@item.Id">Details</a>
            </td>
        </tr>
    }
</tbody>
        <fieldset>
        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>