﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Country/UpdateOne" method="post">
    <div class="detail">
<div class="command-panel">
    <h2 class="banner">Country</h2>
    <button type="submit" class="tile">
        <span class="fas fa-pencil-alt"></span>
        <span class="screen-reader-text">Updating One</span>
    </button>
    <a href="/Country/InsertingOne" class="tile">
        <span class="fas fa-plus"></span>
        <span class="screen-reader-text">Inserting One</span>
    </a>
    <a href="/Country/DeleteOne/@Model.Id" class="tile">
        <span class="fas fa-trash-alt"></span>
        <span class="screen-reader-text">Delete One</span>
    </a>
    <a href="/Country/Cancel" class="tile">
        <span class="fas fa-window-close"></span>
        <span class="screen-reader-text">Annuleren</span>
    </a>
</div>
<fieldset>
    <input type="hidden" id="Country-Id" name="Country-Id" value="@Model.Id" />
    <div>
        <label for="Country-Name">Naam</label>
        <input id="Country-Name" name="Country-Name" type="text" value="@Model.Name" required />
    </div>
    <div>
        <label for="Country-Code">Code</label>
        <input id="Country-Code" name="Country-Code" type="text" value="@Model.Code" required />
    </div>
    <div>
        <label for="Country-Desc">Desc</label>
        <textarea id="Country-Desc" name="Country-Desc">@Model.Desc</textarea>
    </div>
</fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
