﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/User/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">User</h2>
            <button type="submit" value="/User/InsertOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/User/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="User-Name">UserName</label>
                <input id="User-Name" name="User-Name" type="text" value="" required />
            </div>
            <!-- Hieronder moet nog worden aangepast naar de juiste inputwaare. RoleId, PersonId enzovoor -->
            <div>
                <label for="User-PersonId">Person firstname</label>
                <select id="User-PersonId" name="User-PersonId">
                    @foreach (var item in ViewBag.Person)
                    {
                        <option value="@item.Id">@item.FirstName</option>
                    }
                </select>
                            <div>
                                <label for="User-RoleId">Role</label>
                                <select id="User-RoleId" name="User-RoleId">
                                @foreach (var item in ViewBag.Role)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                                </select>
                            </div>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
     <aside class="list">
        <table></table>
    </aside>
</form>