﻿@model FricFracMyWay.Models.User
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/User/Index" method="post">
    <div class="command-panel">
        <h2>Persoon</h2>
        <nav>
            <a href="/User/UpdatingOne/@Model.Id" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/User/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/User/DeleteOne/@Model.Id" class="tile">
                <span class="fas fa-trash-alt"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/User/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </nav>
    </div>
    <fieldset>
        <div>
            <label for="User-Name">UserName</label>
            <span id="User-Name">@Model.Name</span>
        </div>
        <div>
            <label for="User-Person">Person</label>
            <span id="User-Person">@Model.Person.FirstName</span> <!--Is er een manier om de naam samen te voegen? dus voornaam en achternaam te tonen?-->
        </div>
        <div>
            <label for="User-Role">Role</label>
            <span id="User-Role">@Model.Role.Name</span>
        </div>
    </fieldset>
    <div class="feedback"></div>

    <aside class="list">
        <table></table>
    </aside>
</form>