﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/User/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2>User</h2>
            <a href="/User/UpdateOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Update One</span>
            </a>
            <a href="/User/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
        <input type="hidden" id="User-Id" name="User-Id" value="@Model.Id" />
            <div>
                <label for="User-Name">UserName</label>
                <input id="User-Name" name="User-Name" type="text" value="@Model.Name" required />
            </div>
            <div>
                <label for="User-PersonId">Person</label>
                <select id="User-PersonId" name="User-PersonId">
                    @foreach (var item in ViewBag.Person)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.PersonId ? true : false)">
                            @item.FirstName
                        </option>
                    }
                </select>
            </div>
                        <div>
                            <label for="User-Role">Role</label>
                            <select id="User-Role" name="User-PersonId">
                                @foreach (var item in ViewBag.Role)
                                {
                                  <option value="@item.Id"
                                      selected="@(item.Id == Model.RoleId ? true : false)">
                                      @item.Name
                                  </option>
                                }
                            </select>
                        </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
