﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Person/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Persoon</h2>
            <a href="/Person/InsertOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Insert One</span>
            </a>
            <a href="/Person/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Person-FirstName">Voornaam</label>
                <input id="Person-FirstName" name="Person-FirstName" type="text" value="" required />
            </div>
            <div>
                <label for="Person-LastName">Familienaam</label>
                <input id="Person-LastName" name="Person-LastName" type="text" value="" required />
            </div>
            <div>
                <label for="Person-Email">E-mail</label>
                <input id="Person-Email" name="Person-Email" type="email" value="" />
            </div>
            <div>
                <label for="Person-Address1">Adres 1</label>
                <input id="Person-Address1" name="Person-Address1" type="text" value="" />
            </div>
            <div>
                <label for="Person-Address2">Adres 2</label>
                <input id="Person-Address2" name="Person-Address2" type="text" value="" />
            </div>
            <div>
                <label for="Person-PostalCode">Postcode</label>
                <input id="Person-PostalCode" name="Person-PostalCode" type="text" value="" />
            </div>
            <div>
                <label for="Person-City">Stad</label>
                <input id="Person-City" name="Person-City" type="text" value="" />
            </div>
            <div>
                <label for="Person-Country">Land</label>
                <select id="Person-Country" name="Person-Country">
                    <option value="BE" selected>België</option>
                    <option value="DE" selected>Duitsland</option>
                    <option value="FR" selected>Frankrijk</option>
                    <option value="NL" selected>Nederland</option>
                    <option value="UK" selected>Verenigd Koninkrijk</option>
                </select>
            </div>
            <div>
                <label for="Person-Phone1">Telefoon</label>
                <input id="Person-Phone1" name="Person-Phone1" type="text" value="" />
            </div>
            <div>
                <label for="Person-Birthday">Geboortedatum</label>
                <input id="Person-Birthday" name="Person-Birthday" type="date" value="" />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
     <aside class="list">
        <table></table>
    </aside>
</form>