﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventCategory/Index" method="post">
    <div class="command-panel">
        <h2>EventCategory</h2>
        <nav>
            <a href="/EventCategory/UpdatingOne/@Model.Id" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/EventCategory/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/EventCategory/DeleteOne/@Model.Id" class="tile">
                <span class="fas fa-trash-alt"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/EventCategory/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </nav>
    </div>
    <fieldset>
        <div>
            <label for="EventCategory-Name">Naam</label>
            <span id="EventCategory-Name">@Model.Name</span>
        </div>
    </fieldset>
    <div class="feedback"></div>

    <aside class="list">
        <table></table>
    </aside>
</form>