﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@model List<FricFracMyWay.Models.EventTopic>
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventTopic/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Topic</h2>
            <a href="/EventTopic/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href="/EventTopic/ReadingOne/@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
        <fieldset>
        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>