﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<PostcodeApp.BLL.Postcode>

<h1>Postcodes</h1>

<table class="list">
    <thead>
        <tr>
            <th>
                Postcode
            </th>
            <th>
                Plaats
            </th>
            <th>
                Provincie
            </th>
            <th>
                Localité
            </th>
            <th>
                Province
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.Plaats
                </td>
                <td>
                    @item.Provincie
                </td>
                <td>
                    @item.Localite
                </td>
                <td>
                    @item.Province
                </td>
            </tr>
        }
    </tbody>
</table>