﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@model List<FricFracMyWay.Models.Person>
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Person/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Persoon</h2>
            <a href="/Person/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                @item.LastName
                <td>
                <td>
                    @item.Address1
                </td>
                <td>
                    @item.Address2
                </td>
                <td>
                    @item.PostalCode
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.Phone1
                </td>
                <td>
                    <a href="/Person/ReadingOne/@item.Id">Details</a>
                </td>
            </tr>
        }
        </tbody>
        <fieldset>
        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>