﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Person/Index" method="post">
    <div class="command-panel">
        <h2>Persoon</h2>
        <nav>
            <a href="/Person/UpdatingOne/@Model.Id" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Person/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Person/DeleteOne/@Model.Id" class="tile">
                <span class="fas fa-trash-alt"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Person/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </nav>
    </div>
    <fieldset>
             <div>
                 <label for="Person-FirstName">Voornaam</label>
                 <span>@Model.FirstName</span>
             </div>
             <div>
                 <label for="Person-LastName">Familienaam</label>
                 <span>@Model.LastName</span>
             </div>
             <div>
                 <label for="Person-Email">E-mail</label>
                 <span>@Model.Email</span>
             </div>
             <div>
                 <label for="Person-Address1">Adres 1</label>
                 <span>@Model.Address1</span>
             </div>
             <div>
                 <label for="Person-Address2">Adres 2</label>
                 <span>@Model.Address2</span>
             </div>
             <div>
                 <label for="Person-PostalCode">Postcode</label>
                 <span>@Model.PostalCode</span>
             </div>
             <div>
                 <label for="Person-City">Stad</label>
                 <span>@Model.City</span>
             </div>
             <div>
                 <label for="Person-Country">Land</label>
                 <span>@Model.Country.Name</span>
             </div>
             <div>
                 <label for="Person-Phone1">Telefoon</label>
                 <span>@Model.Phone1</span>
             </div>
             <div>
                 <label for="Person-Birthday">Geboortedatum</label>
                 <span>@Model.Birthday</span>
             </div>
    </fieldset>
    <div class="feedback"></div>

    <aside class="list">
        <table></table>
    </aside>
</form>