﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Person/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2>Persoon</h2>
            <a href="/Person/UpdateOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Update One</span>
            </a>
            <a href="/Person/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Role-Id" name="Role-Id" value="@Model.Id" />
            <div>
                <label for="Person-FirstName">Voornaam</label>
                <input id="Person-FirstName" name="Person-FirstName" type="text" value="@Model.FirstName" required/>
            </div>
            <div>
                <label for="Person-LastName">Familienaam</label>
                <input id="Person-LastName" name="Person-LastName" type="text" value="@Model.LastName" required/>
            </div>
            <div>
                <label for="Person-Email">E-mail</label>
                <input id="Person-Email" name="Person-Email" type="email" value="@Model.Email"/>
            </div>
            <div>
                <label for="Person-Address1">Adres 1</label>
                <input id="Person-Address1" name="Person-Address1" type="text" value="@Model.Address1"/>
            </div>
            <div>
                <label for="Person-Address2">Adres 2</label>
                <input id="Person-Address2" name="Person-Address2" type="text" value="@Model.Address2"/>
            </div>
            <div>
                <label for="Person-PostalCode">Postcode</label>
                <input id="Person-PostalCode" name="Person-PostalCode" type="text" value="@Model.PostalCode"/>
            </div>
            <div>
                <label for="Person-City">Stad</label>
                <input id="Person-City" name="Person-City" type="text" value="@Model.City"/>
            </div>
            <div>
                <label for="Person-CountryId">Land</label>
                <select id="Person-CountryId" name="Person-CountryId">
                    @foreach (var item in ViewBag.Countries)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.CountryId ? true : false)">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
            <div>
                <label for="Person-Phone1">Telefoon</label>
                <input id="Person-Phone1" name="Person-Phone1" type="text" value="@Model.Phone1"/>
            </div>
            <div>
                <label for="Person-Birthday">BirthDay</label>
                <input id="Person-Birthday" name="Person-Birthday" type="date" value="@Model.Birthday"/>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
