﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventTopic/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event Topic</h2>
            <a href="/EventTopic/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">InsertingOne</span>
            </a>
        </div>
        <fieldset>
        </fieldset>
        <div class="feedback">
        </div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>