﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>@ViewBag.Message</p>
    <p><a href="/Home/CreateDatabase">Maak de database.</a></p>
    <p>@ViewBag.DatabaseMessage</p>
</div>
