@model LerenWerkenMetEFCF.Models.PostalCode
@using (Html.BeginForm("Insert", "PostalCode"))
{
    <p>
        
        @Html.LabelFor(model => model.Code)
        @Html.EditorFor(model => model.Code)
        @Html.ValidationMessageFor(model => model.Code)
    </p>
    <p>
        @Html.LabelFor(model => model.Location)
        @Html.EditorFor(model => model.Location)
        @Html.ValidationMessageFor(model => model.Location)
    </p>
    <p>
        <input type="submit" value="Insert" />
    </p>
    <p style="color:red;">
        @if (ViewData.ModelState.Any()) 
        { 
            foreach (var error in ViewData.ModelState["Ongeldige gegevens"].Errors) 
            { 
                <span class="error">@error.ErrorMessage</span> 
            } 
        }
    </p>
    
}