﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Role/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Role</h2>
            <button type="submit" value="/Role/InsertOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/Role/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Role-Name">Naam</label>
                <input id="Role-Name" name="Role-Name" type="text" value="" required />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
     <aside class="list">
        <table></table>
    </aside>
</form>