﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Role/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2>Role</h2>
            <button type="submit" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/Role/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
        <input type="hidden" id="Role-Id" name="Role-Id" value="@Model.Id" />
            <div>
                <label for="Role-Name">Naam</label>
                <input id="Role-Name" name="Role-Name" type="text" value="@Model.Name" required />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
