﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Events/InsertOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Events</h2>
            <button type="submit" value="/Events/InsertOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Insert One</span>
            </button>
            <a href="/Events/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Events-Name">Naam</label>
                <input id="Events-Name" name="Events-Name" type="text" value="" required />
            </div>
            <div>
                <label for="Events-EventTopicId">EventTopic</label>
                <select name="Events-EventTopicId" id="Events-EventTopicId">
                    @foreach (var item in ViewBag.EventTopic)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div>
                <label for="Events-EventCategory">EventCategory</label>
                <select name="Events-EventCategory" id="Events-EventCategory">
                    @foreach (var item in ViewBag.EventCategory)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div>
                <label for="EventsDescription">EventsDescription</label>
                <input id="EventsDescription" name="EventsDescription" type="text" value="" />
            </div>
            <div>
                <label for="EventsImage">EventsImage</label>
                <input id="EventsImage" name="EventsImage" type="text" value="" />
            </div>
            <div>
                <label for="EventsLocation">EventsLocation</label>
                <input id="EventsLocation" name="EventsLocation" type="text" value="" />
            </div>
            <div>
                <label for="EventsOrganiserDescription">OrganiserDescription</label>
                <input id="EventsOrganiserDescription" name="EventsOrganiserDescription" type="text" value="" />
            </div>
            <div>
                <label for="EventsOrganiserName">OrganiserName</label>
                <input id="EventsOrganiserName" name="EventsOrganiserName" type="text" value="" />
            </div>
            <div>
                <label for="EventsStarts">Starts</label>
                <input id="EventsStarts" name="EventsStarts" type="date" value="" />
            </div>
            <div>
                <label for="EventsEnd">Ends</label>
                <input id="EventsEnd" name="EventsEnd" type="date" value="" />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
     <aside class="list">
        <table></table>
    </aside>
</form>