﻿@model FricFracMyWay.Models.Events
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1 class="banner">Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Events/Index" method="post">
    <div class="command-panel">
        <h2>Events</h2>
        <nav>
            <a href="/Events/UpdatingOne/@Model.Id" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Events/InsertingOne" class="tile">
                <span class="fas fa-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/Events/DeleteOne/@Model.Id" class="tile">
                <span class="fas fa-trash-alt"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/Events/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </nav>
    </div>
    <fieldset>
        <div>
            <label for="Events-Name">Naam</label>
            <span id="Events-Name">@Model.Name</span>
        </div>
        <div>
            <label for="Events-EventTopic">EventTopic</label>
            <span id="Events-EventTopic">@Model.EventTopic.Name</span>
        </div>
        <div>
            <label for="Events-EventCategory">EventCategory</label>
            <span id="Events-EventCategory">@Model.EventCategory.Name</span>
        </div>
    </fieldset>
    <div class="feedback"></div>

    <aside class="list">
        <table></table>
    </aside>
</form>