﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="fas fa-bars"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Events/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Events</h2>
            <button type="submit" class="tile">
                <span class="fas fa-pencil-alt"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/Events/Cancel" class="tile">
                <span class="fas fa-window-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Events-Id" name="Events-Id" value="@Model.Id" />
            <div>
                <label for="Events-Name">Naam</label>
                <input id="Events-Name" name="Events-Name" type="text" value="@Model.Name" required/>
            </div>
                        <div>
                            <label for="Events-EventTopicId">EventTopic</label>
                            <select name="Events-EventTopicId" id="Events-EventTopicId">
                                @foreach (var item in ViewBag.EventTopic)
                                {
                                    <option value="@item.Id" selected="@(item.Id == Model.EventTopicId ? true : false)">@item.Name</option>
                                }
                            </select>
                        </div>
            <div>
                <label for="Events-EventCategory">EventCategory</label>
                <select name="Events-EventCategory" id="Events-EventCategory">
                    @foreach (var item in ViewBag.EventCategory)
                    {
                        <option value="@item.Id" selected="@(item.Id == Model.EventCategoryId ? true : false)">@item.Name</option>
                    }
                </select>
            </div>
                        <div>
                            <label for="EventsDescription">EventsDescription</label>
                            <input id="EventsDescription" name="EventsDescription" type="text" value="@Model.Description" />
                        </div>
                        <div>
                            <label for="EventsImage">EventsImage</label>
                            <input id="EventsImage" name="EventsImage" type="text" value="@Model.Image" />
                        </div>
                        <div>
                            <label for="EventsLocation">EventsLocation</label>
                            <input id="EventsLocation" name="EventsLocation" type="text" value="@Model.Location" />
                        </div>
                        <div>
                            <label for="EventsOrganiserDescription">OrganiserDescription</label>
                            <input id="EventsOrganiserDescription" name="EventsOrganiserDescription" type="text" value="@Model.OrganiserDescription" />
                        </div>
                        <div>
                            <label for="EventsOrganiserName">OrganiserName</label>
                            <input id="EventsOrganiserName" name="EventsOrganiserName" type="text" value="@Model.OrganiserName" />
                        </div>
                        <div>
                            <label for="EventsStarts">Starts</label>
                            <input id="EventsStarts" name="EventsStarts" type="date" value="@Model.Starts" />
                        </div>
                        <div>
                            <label for="EventsEnd">Ends</label>
                            <input id="EventsEnd" name="EventsEnd" type="date" value="@Model.Ends" />
                        </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
